<div class="span12" style="margin:30px;">
<%= form_for(@cheque) do |f| %>
  <% if @cheque.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cheque.errors.count, "error") %> , please review</h2>

      <ul>
      <% @cheque.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sender%><br>
    <%= f.text_field :sender %>

    <%= f.label :recipient %><br>
    <%= f.text_field :recipient %><br>

   

    <p> Cross Cheque? </p>
<p>
    ( Uncheck to allow direct cash withdrawal from cheque, default = crossed)
  </p>
  <%= f.check_box :cross , :checked => true %> <br>
    <%= f.label :amount %><br>
    <%= f.text_field :amount, :precision => 2 %>

  </div>
  <br>
  <%= button_tag(type: 'submit', class: "btn btn-success btn-large ") do %>
Save
<% end %>
<%end%>
