<p> *Click on a person's name to find all related cheques</p>
    <% @cheques.each do |cheque| %>

<% if params[:sender].present? %>
<h3> Showing all Cheques from    <%= cheque.sender %>  </h3>
<% if true  %> <% break%><%end%>
<% elsif params[:recipient].present? %>
<h3> Showing all Cheques to <%= cheque.recipient %> </h3>
<% if true  %> <% break%><%end%>
<%end %> <%end %>


<table class="table table-striped">
  <thead>
    <tr>
      <th>  No.</th>
      <th>Sender </th>
      <th>Recipient </th>
      <th>($) </th>
      <th>Crossed?  </th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @cheques.each do |cheque| %>
      <tr >
        <td> <%= cheque.id %></td>
        <td><%= link_to  cheques_path(:sender => cheque.sender) do  %>  <%=cheque.sender%><%end%></td>
        <td><%= link_to  cheques_path(:recipient => cheque.recipient) do %><%=cheque.recipient%><%end%></td>
        <td><%= number_to_currency(cheque.amount) %></td>
        <td> <%= cheque.cross %></td>
        <td> <%= cheque.date.to_s(:rfc822) %></td>
        <td><%= link_to cheque  do %><i class="icon-zoom-in icon-large"></i><%end%></td>
     <td><%= link_to edit_cheque_path(cheque) do %> <i class="icon-pencil icon-large"></i><%end%></td>
        <td><%= link_to cheque, method: :delete, data: { confirm: 'Are you sure?' } do%><i class="icon-remove-sign icon-large"></i><%end%>      </tr>

    <% end %>

    <% if params[:recipient].present? || params[:sender].present? %>
     <% @chequez.each do |cheque|%>

           <tr class="ll">
        <td> <%= cheque.id %></td>
        <td><%= link_to  cheques_path(:sender => cheque.sender) do  %><%=cheque.sender%><%end%></td>
        <td><%= link_to  cheques_path(:recipient => cheque.recipient) do %><%=cheque.recipient%><%end%></td>
        <td><%= number_to_currency(cheque.amount) %></td>
        <!--td>---<%= number_to_currency_in_words(cheque.amount,connector: ' and ').upcase  %> ONLY--</td-->
        <td> <%= cheque.date.to_s(:rfc822) %></td>
    <td><%= link_to cheque  do %><i class="icon-zoom-in icon-large"></i><%end%></td>
     <td><%= link_to edit_cheque_path(cheque) do %> <i class="icon-pencil icon-large"></i><%end%></td>
        <td><%= link_to cheque, method: :delete, data: { confirm: 'Are you sure?' } do%><i class="icon-remove-sign icon-large"></i><%end%>      </tr>

    <% end end%>      


  </tbody>
</table>

<br>

<% if params[:sender].present? || params[:recipient].present? %>
<div class="1 btn btn-large btn-primary"> 
    <% @cheques.each do |cheque| %>
      
Include all other checks for:
  <% if params[:sender].present?%>
  <%= cheque.sender %>
  <% if true  %> <% break%><%end%>
  <%end%>
   <% if params[:recipient].present?%>
   <%= cheque.recipient %>
   <% if true  %> <% break%><%end%>

   <%end%>

<%end end %>
</div>
    <%= will_paginate @posts %>
    <%= link_to new_cheque_path do %>
<div class=" btn btn-primary btn-large">
  New Cheque</div><%end%>




<script>
  $(document).ready(function(){
  $(".1").click(function(){
    $(".ll").toggle("fast");
  });
});
</script>

