<!DOCTYPE html>
<html>
<head>
  <title>empireone</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand " href="#">  <span class="topwords">


    <%= image_tag ('ruby.png') ,:class => "ruby"%>
    <%= image_tag ('rails.png') ,:class => "ruby"%>
    <small>@Ubultus</small>
</span>
</a>

  </div>
</div>


    </div>
  </div>
 <div class="container-fluid" style="border:1px dashed grey;padding:30px;">
    <div class="row-fluid">
        <div class="span12">
             <%= link_to root_path do %>
                <h1 style="color:#8a9f45"><i class="icon-money" style="color:#8a9f45"></i>   Cheques</h1>
            <%end%></div>




 

                <%= yield %>

</div>

<%= render 'footer'%>
</body>
</html>
